<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="Keywords" content="" />
	<title>呐咓</title>
</head>
<body>
<%= require('html-loader!./include/header.html') %>
<div class="banner"></div>
<div class="main">
	<div>
		<h3>在线留言<i>Online Message</i></h3>
		<div>
			<form>
				<div>
					<span><input class="form-control" type="text" placeholder="姓名"></span>
					<span><input class="form-control" type="tel" placeholder="手机"></span>
				</div>
				<div>
					<input class="form-control" type="email" placeholder="邮箱">
				</div>
				<div>
					<input class="form-control" type="tel" placeholder="电话">
				</div>
				<div>
					<textarea class="form-control" placeholder="你想对呐咓说~"></textarea>
				</div>
				<button type="button" class="btn btn-primary">提交留言</button>
			</form>
		</div>
	</div>
	<div>
		<h3>联系我们<i>Contact us</i></h3>
		<div class="news-nawa">
			<p>中国  北京</p>
			<p><i class="glyphicon glyphicon-map-marker"></i>呐咓运动健身体验馆</p>
			<p><i class="glyphicon glyphicon-home"></i>地址：北京市朝阳区百子湾路33号万利中心6号楼B2层</p>
			<p><i class="glyphicon glyphicon-earphone"></i>电话：400058599       010-56919975</p>
			<p><i class="glyphicon glyphicon-envelope"></i>邮箱：iduoduozhao@leadwestedu.com</p>
			<span>
				<img id="lp_map_picture" src="http://api.map.baidu.com/staticimage/v2?ak=A4Bj1G04I7tBS7VUrea4zM57&amp;center=116.476016,39.908681&amp;width=280&amp;height=135&amp;zoom=15&amp;markers=116.476016,39.908681" alt="">
			</span>
		</div>
	</div>
</div>
<%= require('html-loader!./include/footer.html') %>
</body>
</html>