<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="Keywords" content="" />
	<title>呐咓</title>
</head>
<body>
<%= require('html-loader!./include/header.html') %>
<div class="swiper-container">
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
</div>
<div class="tab-nav">
	<ul id="myTab" class="nav hover">
		<li class="active">
			<a href="#league" data-toggle="tab">
				<img src="resource/img/275_210_00.jpg" alt="">
				<dl>
					<dt>呐咓团课</dt>
					<dd>呐咓精英教练等你嗨</dd>
				</dl>
			</a>
		</li>
		<li>
			<a href="#coach" data-toggle="tab">
				<img src="resource/img/275_210_01.jpg" alt="">
				<dl>
					<dt>明星教练</dt>
					<dd>呐咓精英教练等你嗨</dd>
				</dl>
			</a>
		</li>
		<li>
			<a href="#Venue" data-toggle="tab">
				<img src="resource/img/275_210_02.jpg" alt="">
				<dl>
					<dt>呐咓场馆</dt>
					<dd>京城首座花园运动体验馆 </dd>
				</dl>	
			</a>
		</li>
		<li>
			<a href="#knowledge" data-toggle="tab">
				<img src="resource/img/275_210_03.jpg" alt="">
				<dl>
					<dt>健身知识</dt>
					<dd>呐咓独家健身知识库</dd>
				</dl>
			</a>
		</li>
	</ul>
</div>


<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade league in active" id="league">
		<div class="league-table">
			<h5>呐咓团课日程表</h5>
			<div class="rili">
				<ul class="odd">
					<li>星期一</li>
					<li>
						<p>自由搏击(FFT)<i>免费体验</i></p>
						<dl>
							<dt>强度 </dt>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star-empty"></dd>
						</dl>
						<p><em>19:30-21:00</em> 主力阿曼</p>
					</li>
					<li>
						<p>自由搏击(FFT)<i>免费体验</i></p>
						<dl>
							<dt>强度 </dt>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star-empty"></dd>
						</dl>
						<p><em>19:30-21:00</em> 主力阿曼</p>
					</li>
					<li>
						<p>自由搏击(FFT)<i>免费体验</i></p>
						<dl>
							<dt>强度 </dt>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star-empty"></dd>
						</dl>
						<p><em>19:30-21:00</em> 主力阿曼</p>
					</li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<ul class="even">
					<li>星期二</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<ul class="odd">
					<li>星期三</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<ul class="even">
					<li>星期四</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<ul class="odd">
					<li>星期五</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<ul class="even">
					<li>星期六</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<ul class="odd">
					<li>星期日</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<dl class="dl-title">
			<dt><h4>呐咓团课</h4></dt>
			<dd>呐咓精英教练等你嗨</dd>
		</dl>
		<div class="league-table-ul">
			<ul>
				<li>
					<img src="resource/img/285_365.jpg">
					<a>
						<h3>搏击体适能</h3>
						<p>然子增肌，臀部打造</p>
						<dl>
							<dt>强度 </dt>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star-empty"></dd>
						</dl>
					</a>
					<dl class="hover-rotate">
						<dt><img src="resource/img/139_139.jpg"></dt>
						<dd>扫码约课</dd>
					</dl>
				</li>
				<li>
					<img src="resource/img/285_365.jpg">
					<a>
						<h3>搏击体适能</h3>
						<p>然子增肌，臀部打造</p>
						<dl>
							<dt>强度 </dt>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star-empty"></dd>
						</dl>
					</a>
					<dl class="hover-rotate">
						<dt><img src="resource/img/139_139.jpg"></dt>
						<dd>扫码约课</dd>
					</dl>
				</li>
				<li>
					<img src="resource/img/285_365.jpg">
					<a>
						<h3>搏击体适能</h3>
						<p>然子增肌，臀部打造</p>
						<dl>
							<dt>强度 </dt>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star-empty"></dd>
						</dl>
					</a>
					<dl class="hover-rotate">
						<dt><img src="resource/img/139_139.jpg"></dt>
						<dd>扫码约课</dd>
					</dl>
				</li>
				<li>
					<img src="resource/img/285_365.jpg">
					<a>
						<h3>搏击体适能</h3>
						<p>然子增肌，臀部打造</p>
						<dl>
							<dt>强度 </dt>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star-empty"></dd>
						</dl>
					</a>
					<dl class="hover-rotate">
						<dt><img src="resource/img/139_139.jpg"></dt>
						<dd>扫码约课</dd>
					</dl>
				</li>
				<li>
					<img src="resource/img/285_365.jpg">
					<a>
						<h3>搏击体适能</h3>
						<p>然子增肌，臀部打造</p>
						<dl>
							<dt>强度 </dt>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star"></dd>
							<dd class="glyphicon glyphicon-star-empty"></dd>
						</dl>
					</a>
					<dl class="hover-rotate">
						<dt><img src="resource/img/139_139.jpg"></dt>
						<dd>扫码约课</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="tab-pane fade coach" id="coach">
		<dl class="dl-title">
			<dt><h4>明星教练</h4></dt>
			<dd>呐咓精英教练等你嗨</dd>
		</dl>
		<div class="tab-ul">
			<ul class="coach-ul hover">
				<li><img src="resource/img/280_370.jpg" alt=""></li>
				<li><img src="resource/img/280_370.jpg" alt=""></li>
				<li><img src="resource/img/280_370.jpg" alt=""></li>
				<li><img src="resource/img/280_370.jpg" alt=""></li>
				<li><img src="resource/img/280_370.jpg" alt=""></li>
			</ul>
		</div>
	</div>
	<div class="tab-pane fade title-icon Venue" id="Venue">
		<dl class="dl-title">
			<dt><h4>呐咓场馆</h4></dt>
			<dd>首座室内花园健身馆</dd>
		</dl>
		<ul class="Venue-ul-1">
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
		</ul>
		<dl class="dl-title h4">
			<dt><h4>呐咓厨房</h4></dt>
		</dl>
		<ul class="Venue-ul-2">
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
		</ul>
		<dl class="dl-title h4">
			<dt><h4>运动场馆</h4></dt>
		</dl>
		<ul class="Venue-ul-3">
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
			<li>
				<a href="#"><img src="resource/img/275_210_02.jpg" alt=""></a>
			</li>
		</ul>
	</div>
	<div class="tab-pane fade title-icon knowledge" id="knowledge">
		<dl class="dl-title">
			<dt><h4>健身知识</h4></dt>
			<dd>呐咓独家健身知识库</dd>
		</dl>
		<div class="knowledge-list-1">
			<ul>
				<li>
					<a href="#"><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></a>
				</li>
				<li>
					<a href="#"><h5>呐咓独家健身知识库呐</h5></a>
				</li>
				<li>
					<a href="#"><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></a>
				</li>
				<li>
					<a href="#"><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></a>
				</li>
				<li>
					<a href="#"><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></a>
				</li>
				<li>
					<a href="#"><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></a>
				</li>
			</ul>
		</div>
		<div class="knowledge-list-2">
			<ul>
				<li>
					<a href="#">
						<img src="resource/img/560_285.jpg">
						<em>独家</em>
						<dl>
							<dt><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></dt>
							<dd>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</dd>
						</dl>
						<div>
							<span>
								<p class="new-time">2018-12-22</p>
								<p class="pre-time">16天前</p>
							</span>
							<span>
								<p class="play-num">23323</p>
								<p class="comments">213123</p>
							</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="resource/img/560_285.jpg">
						<em>独家</em>
						<dl>
							<dt><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></dt>
							<dd>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</dd>
						</dl>
						<div>
							<span>
								<p class="new-time">2018-12-22</p>
								<p class="pre-time">16天前</p>
							</span>
							<span>
								<p class="play-num">23323</p>
								<p class="comments">213123</p>
							</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="knowledge-list-3">
			<ul>
				<li>
					<a href="#">
						<img src="resource/img/560_285.jpg">
						<dl>
							<dt>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</dt>
							<dd>2018-25-55</dd>
							<dd><i></i><p>55555</p></dd>
						</dl>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="resource/img/560_285.jpg">
						<dl>
							<dt>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</dt>
							<dd>2018-25-55</dd>
							<dd><i></i><p>55555</p></dd>
						</dl>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="resource/img/560_285.jpg">
						<dl>
							<dt>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</dt>
							<dd>2018-25-55</dd>
							<dd><i></i><p>55555</p></dd>
						</dl>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--coach news-->
<div class="building-fixed">
	<p></p>
	<div class="fixed-cont">
		<a class="close"></a>
		<div class="cont-news">
			<div>
				<span class="span-img"><img src="resource/img/280_370.jpg"></span>
				<span class="desc">
					<h5>栾军</h5>
					<h6>luanjun</h6>
					<dl>
						<dt>中国 北京</dt>
						<dd>体能顾问／资深教练／体能专家</dd>
						<dd>体能顾问／资深教练／体能专家</dd>
						<dd>体能顾问／资深教练／体能专家</dd>
						<dd>体能顾问／资深教练／体能专家</dd>
					</dl>
				</span>
			</div>
			<dl>
				<dt>教练简介</dt>
				<dd>多年教练资质，k－1裁判认证。教练介绍：多年教练资质，k－1裁判认证。教练介绍：多年教练资质，k－1裁判认证。教练介绍：多年教练资质，k－1裁判认证。教练介绍：多年教练资质，k－1裁判认证。教练介绍：多年教练资质，k－1裁判认证。教练介绍：多年教练资质，k－1裁判认证。教练介绍：多年教练资质，k－1裁判认证。</dd>
			</dl>
		</div>
	</div>
</div>
<%= require('html-loader!./include/footer.html') %>
</body>
</html>