<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="Keywords" content="" />
	<title>呐咓</title>
</head>
<body>
<%= require('html-loader!./include/header.html') %>
<div class="swiper-container">
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
</div>
<div class="nav-t">
	<div class="nav-cont">
		<h3>呐咓厨房</h3>
		<ul class="hover">
			<li>
				<img src="resource/img/360_180.jpg">
				<dl>
					<dt>鸡胸肉的超级做法</dt>
					<dd>将鸡肉改刀为长方形，边余料可用来炒肉丁，再斜刀划菱形纹，不要过深，切肉的厚度2/3留1/3不切，以免把肉切断，这样操作一是为容易入味，二是为相对容易熟透；留1/3不切以免把肉切断，这样操作一是为容易入味，二是为相对容易熟透；
</dd>
				</dl>
				<h6>课程特色</h6>
				<p>课程特色</p>
				<p>课程特色课程特色</p>
				<p>课程特色课程特色</p>
				<p>课程特色</p>
				<a href="#">我要报名</a>
			</li>
			<li>
				<img src="resource/img/360_180.jpg">
				<dl>
					<dt>鸡胸肉的超级做法</dt>
					<dd>将鸡肉改刀为长方形，边余料可用来炒肉丁，再斜刀划菱形纹，不要过深，切肉的厚度2/3留1/3不切，以免把肉切断，这样操作一是为容易入味，二是为相对容易熟透；留1/3不切以免把肉切断，这样操作一是为容易入味，二是为相对容易熟透；
</dd>
				</dl>
				<h6>课程特色</h6>
				<p>课程特色</p>
				<p>课程特色课程特色</p>
				<p>课程特色课程特色</p>
				<p>课程特色</p>
				<a href="#">我要报名</a>
			</li>
			<li>
				<img src="resource/img/360_180.jpg">
				<dl>
					<dt>鸡胸肉的超级做法</dt>
					<dd>将鸡肉改刀为长方形，边余料可用来炒肉丁，再斜刀划菱形纹，不要过深，切肉的厚度2/3留1/3不切，以免把肉切断，这样操作一是为容易入味，二是为相对容易熟透；留1/3不切以免把肉切断，这样操作一是为容易入味，二是为相对容易熟透；
</dd>
				</dl>
				<h6>课程特色</h6>
				<p>课程特色</p>
				<p>课程特色课程特色</p>
				<p>课程特色课程特色</p>
				<p>课程特色</p>
				<a href="#">我要报名</a>
			</li>
		</ul>
	</div>
</div>
<div class="warper">
	<ul class="hover">
		<li>
			<a href="#">
				<img src="resource/img/390_280.jpg">
				<p>鸡胸肉的超级做法鸡胸肉的超级做法鸡胸肉的超级做法</p>
				<span>
					<p class="play-num">23323</p>
					<p class="comments">213123</p>
					<em>独家</em>
				</span>
			</a>
		</li>
		<li class="show">
			<a href="#">
				<img src="resource/img/390_280.jpg">
				<p>鸡胸肉的超级做法</p>
				<span>
					<p class="play-num">23323</p>
					<p class="comments">213123</p>
					<em>独家</em>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="resource/img/390_280.jpg">
				<p>鸡胸肉的超级做法</p>
				<span>
					<p class="play-num">23323</p>
					<p class="comments">213123</p>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="resource/img/390_280.jpg">
				<p>鸡胸肉的超级做法</p>
				<span>
					<p class="play-num">23323</p>
					<p class="comments">213123</p>
				</span>
			</a>
		</li>
	</ul>
</div>

<%= require('html-loader!./include/footer.html') %>
</body>
</html>