<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="Keywords" content="" />
	<title>呐咓</title>
</head>
<body>
<header>
	<firgure class="logo">
		<a href="index.html" alt="呐咓"></a>
	</firgure>
	<!-- <div class="miscellaneous">
		<div class="menus">
			<i class="is1">&nbsp;</i>
			<i class="is2">&nbsp;</i>
		</div>
	</div> -->
</header>
<div class="phoneNav">
	<div class="gb">
		<span class="sp1">&nbsp;</span>
		<span class="sp2">&nbsp;</span>
	</div>
	<nav class="subnav">
		<ul>
			<li><a href="index.html" class="on">首页</a></li>
			<li><a href='#'>详情</a> </li>
			<li><a href='#'>详情</a> </li>
			<li><a href='#'>详情</a> </li>
			<li><a href='#'>详情</a> </li>
			<li><a href='#'>详情</a> </li>
		</ul>
	</nav>
</div>
<div class="section section1">
	<div class="totalTit">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="waperlines">
			<path class="sublines sublinesA pcsvg" d="M600,2 2,2 2,305" />
			<path class="sublines sublinesB pcsvg" d="M600,2 1198,2 1198,305" />
			<path class="sublines sublinesc pcsvg" d="M600,608 2,608 2,305" />
			<path class="sublines sublinesD pcsvg" d="M600,608 1198,608 1198,305" />
			<path class="sublines sublinesA phonesvg" d="M300,2 2,2 2,305" />
			<path class="sublines sublinesB phonesvg" d="M300,2 598,2 598,305" />
			<path class="sublines sublinesc phonesvg" d="M300,608 2,608 2,305" />
			<path class="sublines sublinesD phonesvg" d="M300,608 598,608 598,305" />
		</svg>
		<dl>
			<dt></dt>
			<dd></dd>
		</dl>
	</div>
	<div class="nextscreen"></div>
</div>
<div class="fixed">
	<ul>
		<li>
			<a class="wechat"></a>
			<spn></spn>
		</li>
		<li>
			<a class="iphone"></a>
			<spn></spn>
		</li>
		<li>
			<a class="map"></a>
			<spn></spn>
		</li>
	</ul>
</div>
<%= require('html-loader!./include/header.html') %>
<!-- <div class="banner"></div> -->
<div class="swiper-container">
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
</div>
<div class="latest-activities">
	<ul class="hover">
		<li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a href="#">
				<img src="resource/img/354_286.jpg" alt="呐咓">
				<p>NAWA战队一起出发一起到达</p>
			</a>
		</li>
		<li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a href="#">
				<img src="resource/img/354_286.jpg" alt="呐咓">
				<p>NAWA战队一起出发一起到达NAWA战队一起出发一起到达</p>
			</a>
		</li>
		<li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a href="#">
				<img src="resource/img/354_286.jpg" alt="呐咓">
				<p>NAWA战队一起出发一起到达</p>
			</a>
		</li>
	</ul>
</div>
<div class="waper waper-01">
	<div class="waper-cont">
		<h3 class="title-01"></h3>
		<div class="cont-right">
			<div class="video">
				<span class="playBtn"><img src="resource/img/800_450.jpg" alt=""></span>
				<video onpause="onVideoPause(this)" src="http://dv.browser.360.cn/Object.access/upload4cutter/NjU2ZThlMmU2ODU1OWJmODcwZjkyNWM1MzMxOGEwMGIxNTI4OTk3NDgyL-aNruivtOi_meaYr-aKlumfs-WUseatjOacgOWlveWQrOeahOS4ieS4quS6uu-8jOS9oOinieW-l-WRoi5tcDQ=" controls="" > 
					你的浏览器不支持HTML5播放此视频 
					<span style="white-space:pre"></span><!-- 支持播放的文件格式 --> 
					<!-- <source src="" type='video/mp4' />   -->
				</video>
			</div>
		</div>
	</div>
</div>
<div class="waper waper-02">
	<div class="waper-cont">
		<h3 class="title-02"></h3>
		<div class="cont-right">
			<ul class="hover">
				<li>
					<a href="#"><img src="resource/img/800_290.jpg" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="resource/img/390_280.jpg" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="resource/img/390_280_02.jpg" alt=""></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="waper waper-03">
	<div class="waper-cont">
		<h3 class="title-03"></h3>
		<div class="cont-right">
			<ul class="hover">
				<li>
					<a href="#"><img src="resource/img/390_590.jpg" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="resource/img/390_290.jpg" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="resource/img/185_130_01.jpg" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="resource/img/185_130_02.jpg" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="resource/img/185_130_03.jpg" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="resource/img/185_130_04.jpg" alt=""></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="waper waper-04">
	<div class="waper-cont">
		<h3 class="title-04"></h3>
		<div class="cont-right">
			<dl>
				<dd>
					<span><img src="resource/img/139_139.jpg" alt=""></span>
					<p>呐咓官方订阅号</p>
				</dd>
				<dd>
					<span><img src="resource/img/139_139.jpg" alt=""></span>
					<p>呐咓官方服务号</p>
				</dd>
				<dt>
					<p>呐咓运动健身体验馆  </p>
					<p>地址：北京市朝阳区百子湾路33号万利中心6号楼B2层</p>
					<p>电话：400058599   010-5691997</p>
				</dt>				
			</dl>
		</div>
	</div>
</div>
<%= require('html-loader!./include/footer.html') %>
</body>
</html>
