<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="Keywords" content="" />
	<title>呐咓</title>
</head>
<body>
<%= require('html-loader!./include/header.html') %>
<div class="user">
	<p>NAWA SUPPER STAR</p>
	<div class="user-img">
		<span><img src="resource/img/130_130.jpg"></span>
	</div>
	<h3>洪宏星</h3>
	<h4>终极BOSS</h4>
</div>
<div class="tab-nav">
	<ul id="myTab" class="nav">
		<li class="active">
			<a href="#wo" data-toggle="tab">我的活动</a>
		</li>
		<li>
			<a href="#js" data-toggle="tab">健身打卡</a>
		</li>
		<li>
			<a href="#gr" data-toggle="tab">个人资料</a>
		</li>
	</ul>
</div>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in wo active" id="wo">
		<ul>
			<li>
				<span><em>2018年</em>6月29日</span>
				<div class="fr">
					<a href="#">
						<span><img src="resource/img/555_280.jpg"></span>
						<em>独家</em>
						<dl>
							<dt><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></dt>
						</dl>
						<div>
							<span>
								<p class="new-time">2018-12-22</p>
								<p class="pre-time">16天前</p>
							</span>
							<span>
								<p class="play-num">23323</p>
								<p class="comments">213123</p>
							</span>
						</div>
					</a>
				</div>				
			</li>
			<li>
				<span><em>2018年</em>6月28日</span>
				<div class="fr">
					<a href="#">
						<span><img src="resource/img/555_280.jpg"></span>
						<em>独家</em>
						<dl>
							<dt><h5>呐咓独家健身知识库呐咓独家健身知识库呐咓独家健身知识库</h5></dt>
						</dl>
						<div>
							<span>
								<p class="new-time">2018-12-22</p>
								<p class="pre-time">16天前</p>
							</span>
							<span>
								<p class="play-num">23323</p>
								<p class="comments">213123</p>
							</span>
						</div>
					</a>
				</div>				
			</li>
		</ul>
	</div>
	<div class="tab-pane fade js" id="js">
	</div>
	<div class="tab-pane fade gr" id="gr">
		<div class="gr-cont">
			<h6>基本信息<a ckass="xg">修改</a></h6>
			<div>
				<span>
					<label>用户姓名</label>
					<p>willemi</p>
				</span>
				<span>
					<label>性别</label>
					<p>男</p>
				</span>
				<span>
					<label>联系方式</label>
					<p>13333333333</p>
				</span>
				<span>
					<label>邮箱</label>
					<p>willemi@foxmail.com</p>
				</span>
				<span>
					<label>呐年龄</label>
					<p>刚出生</p>
				</span>
			</div>
		</div>
	</div>
</div>
<%= require('html-loader!./include/footer.html') %>
</body>
</html>